.info-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
    @include responsive(777px){
        margin-top: 20px;
    }
    &:first-child{
        margin-top: 0;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        padding: 6px 18px;
        height: 47px;
        color: white;
        border-radius: 5px;
        z-index: 100;
        @include responsive(777px){
            height: 30px;
            padding-left: 11px;
        }
        h2{
            font-size: 1.5rem;
            font-weight: 500;
            @include responsive(777px){
                font-size: 0.813rem;
            }
        } 
    }
    p{
        background-color: $color-secondary;
        padding: 30px 18px 20px 18px;
        color: $color-primary;
        font-size: 1.5rem;
        line-height: 1.42;
        font-weight: 400;
        margin-top: -5px;
        height: 100%;
        @include responsive(777px){
            font-size: 0.75rem;
            padding: 18px 10px;
        }
        &.rental-size{
            font-size: 1.125rem;
            @include responsive(777px){
                font-size: 0.75rem;
                padding: 18px 10px;
            }
        }
        span{
            display: block;
        }

    }
}