.hero-banner{
    border-radius: 25px;
    width: 100%;
    height: 224px;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    h1{
        position: absolute;
        display: block;
        height: 4.25rem;
        top: 40%; // to be refactored
        left: 25%; // to be refactored
        font-size: 3rem;
        color: white;
        font-weight: 400;
    }
}