.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    max-width: 1240px;
    margin: 0 auto;
    img {
        height: 68px;
        max-width: 220px;
    } 
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
        font-size: 1.5rem;
        color: $color-primary;
    }
} 